.celebrate-btn {
  padding: 10px 20px;
  background-color: #ff4081;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  margin:8px ;
}
.celebrate-btn:hover {
  background-color: #e91e63;
}
